<div class="homecont">
  <div class="cont">

    <svg width="100%" height="100%">

      <div class="thedots">
      <circle cx="505" cy="135" />

      <circle cx="500" cy="140" />
      <circle cx="505" cy="140" />
      <circle cx="510" cy="140" />

    </div>


    </svg>

    <div class="nav">
      <div class="nav_icon">
        <div class="burg1"></div>
        <div class="burg2"></div>
        <div class="burg3"></div>
      </div>

      <ul>
        <li><a href="#">about</a></li>
        <li><a href="/projects">projects</a></li>
        <li><a href="#">services</a></li>
        <li><a href="#">contact</a></li>
      </ul>
    </div>

    <div class="blackout">

    </div>

  </div>
</div>
