body {
  height: 100%;
  width: 100%;
  margin: 0;
  /*background-position: center;*/
}

.homecont {
  background: #898989 url('../../newforyst.png') no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.thedots {
  margin: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  padding: 0 2em;
}

circle {
  transition: .2s;
  fill: rgba(255, 255, 255, .5);
  r: 1;
}

circle:hover {
  fill: white;
  r: 10;
  border-width: 3px;
  -webkit-border-image:
    -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
  -webkit-border-image:
    -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
  linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;
}

.cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.blackout {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.3);
  z-index: 1;
}
.blackout.disp {
  display: block;
}

/*************************/
/*         HEADER        */
/*************************/

.nav {
  width: 0;
  min-height: 20%;
  top: 0;
  left: 0;
  /*background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));*/
  background: rgba(255,255,255,.5);
  z-index: 2;
  text-align: center;
  float:left;
  overflow: hidden;
  transition: 0.5s;
  position: fixed;
  padding: 0;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 8px solid rgba(255,255,255,.5)
}
.nav.open {
  width: 100%;
}

.nav a {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  line-height: 2em;
  letter-spacing: 0em;
  position: relative;
  text-decoration: none;
}


.nav a:hover {
  color: #000;
}

.nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform-origin: 0% 100%;
}

.nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav_icon {
  width: 3em;
  height: 3em;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
}

.burg1, .burg2, .burg3 {
  width: 2em;
  height: .3em;
  border-radius: 2em;
  background: #e2e2e2;
  margin: .1em;
  transition: 0.4s;
  display: block;
}
.burg1.close {
  -webkit-transform: rotate(-45deg) translate(-.2em, .3em);
  transform: rotate(-45deg) translate(-.2em, .3em);
}
.burg2.close{
  width: 0;
}
.burg3.close {
  -webkit-transform: rotate(45deg) translate(-.3em, -.6em);
  transform: rotate(45deg) translate(-.3em, -.6em);
}
