body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.homecont {
  background: #898989 url(' ./newforyst.png') no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.contt, .aboutt {
  width: 100%;
  height: 100vh;
  background: #898989 url(' ./bgg.png') no-repeat;
  background-size: cover;
  background-position: center;
  display: none;
}

.thedots {
  margin: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  padding: 0 2em;
}

circle {
  transition: .2s;
  fill: rgba(255, 255, 255, .5);
  r: 1;
}

circle:hover {
  fill: white;
  r: 10;
  border-width: 3px;
  -webkit-border-image:
    -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
  -webkit-border-image:
    -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
  linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;
}

.cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.blackout {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.3);
  z-index: 1;
  margin: 0;
  top: 0;
  left: 0;
  position: fixed;;
}
.blackout.disp {
  display: block;
}

.mid {
  width: 100%;
  min-height: 60%;
  background: rgba(52,52,52,.8);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  overflow: scroll;
}

img {
  width: 250px;
  height: 250px;
  opacity: .8;
  border-radius: 5px;
}

.projectcont {
  display: flex;
  flex-direction: column;
  width: 250px;
  text-align: center;
  margin: 10px;
  box-sizing: border-box;
}

.lovemenot, .hairlooks, .earworm, .bucketlist {
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: none;
  flex-direction: row;
  animation: slide-left .7s;
  margin: auto;
  justify-content: center;
  align-content: center;
}

.left {
  width: 50%;
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}

.left img {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  opacity: 1;
}

.right {
  box-sizing: border-box;
  margin: 20px;
  height: 300px;
  width: 50%;
  margin: auto auto auto 0px;
  max-height: 300px;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
}

.right h1 {
  font-family: arial;
  color: rgba(242,242,242,.8);
  margin: 20px auto;
  line-height: 0;
  font-weight: 400;
  font-size: 50px;
}

.right p {
  font-family: 'Raleway', sans-serif;
  color: #f2f2f2;
  font-weight: 200;
  font-size: 18px;
  line-height: 35px;
}

.projectcont a {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color:#f2f2f2;
  letter-spacing: 5px;
}

h3 {
  font-family: arial;
  font-weight: 200;
  font-size: 15px;
  color: #f2f2f2;
  margin: 5px;
}

/*************************/
/*         HEADER        */
/*************************/

.nav {
  width: 0;
  min-height: 20%;
  top: 0;
  left: 0;
  background: rgba(255,255,255,.5);
  z-index: 2;
  text-align: center;
  float:left;
  overflow: hidden;
  transition: 0.5s;
  position: fixed;
  padding: 0;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 8px solid rgba(255,255,255,.5)
}
.nav.open {
  width: 100%;
}

.nav a {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  line-height: 2em;
  letter-spacing: 0em;
  position: relative;
  text-decoration: none;
}


.nav a:hover {
  color: #000;
}

.nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform-origin: 0% 100%;
}

.nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav_icon {
  width: 3em;
  height: 3em;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
}

.burg1, .burg2, .burg3 {
  width: 2em;
  height: .3em;
  border-radius: 2em;
  background: #e2e2e2;
  margin: .1em;
  transition: 0.4s;
  display: block;
}
.burg1.close {
  -webkit-transform: rotate(-45deg) translate(-.2em, .3em);
  transform: rotate(-45deg) translate(-.2em, .3em);
}
.burg2.close{
  width: 0;
}
.burg3.close {
  -webkit-transform: rotate(45deg) translate(-.3em, -.6em);
  transform: rotate(45deg) translate(-.3em, -.6em);
}


@keyframes slide-left {
  0% {
    -webkit-transform: translateX(-300px);
  }
  100% {
    -webkit-transform: translateX(auto);
  }
}
